#adopt {
  padding: 200px 0 200px 0;
  .item {
    color: $content-text;
    font-size: 1.1rem;
  }
  .text {
    font-size: 1.2rem;
    font-weight: 500;
    color: $orange;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .filtercol{
    padding-left: 10px;
  }
  .adoptrow {
    .mb-5.item {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex: 0 1 auto;
      font-size: 0.875rem;
      font-weight: 500;
      justify-content: center;
      letter-spacing: 0.0892857143em;
      line-height: normal;
      min-width: 90px;
      max-width: 360px;
      outline: none;
      padding: 0 16px;
      position: relative;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      transition: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}

@include md {
  #adopt {
    padding: 150px 0 150px 0;
    .adoptrow {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .filtercol {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
