#appointment {
  padding: 200px 0;
  .v-chip-group .v-slide-group__content {
    padding: 10px 0;
  }
  .item-title {
    p {
      font-weight: 300;
    }
  }
  .itemTitle {
    color: $content-text;
    font-weight: 500;
    margin-bottom: 10px;
  }
}
@include md {
  #appointment {
    padding: 150px 0;
  }
}

.appointmentcard {
  .price {
    font-size: 1.5rem;
    font-weight: 600;
    color: $pink;
  }
}


.select {
  border: 1px solid $orange !important;
  color: $orange !important;
}
#appointmentCheckout {
  margin: auto;
  padding: 200px 0;
  width: 50%;

  .checkout-btn {
    background-color: $yellow;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    color: white;
    font-weight: bolder;
    letter-spacing: 0.1rem;
  }
  .v-stepper__header {
    box-shadow: none;
  }
  .v-sheet {
    box-shadow: none;
  }
  h1 {
    color: $content-text;
  }
  .appointmentcard {
    padding: 10px 50px;
    border: 6px solid $cyancolor;
    border-radius: 10px;
    box-shadow: 8px 6px 2px #e9ffff;
  }
}

@include sm {
  #appointmentCheckout {
    margin: auto;
    padding: 0px 0;
    width: 100%;
  }
}
