#adminHeader {
  background: $lightblue;
  color: $content-text;
  .a {
    color: $cyancolor;
  }
  .admintabs {
    width: 50%;
    margin: auto;
    // display: flex;
    // align-items: center;
    // justify-content: center;
  }
}

@include md {
  #adminHeader {
    .admintabs {
      width: 100%;
      margin: none;
    }
    .ab {
      width: 500px;
    }
  }
}

// 商品管理頁面
#adminOrders {
  margin-top: 80px;
  h1 {
    color: $content-text;
    text-align: center !important;
  }
}
