#contactus {
  padding: 200px 0;
  h1 {
    text-align: center;
    margin-bottom: 50px;
  }
  p {
    color: $content-text;
  }
}

@include md{
  .contactrow{
  flex-direction: column;
  align-items: center;
  }
}
