#headernav {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  .v-btn__content {
    font-size: 1.2rem !important;
    font-weight: 300;
  }
  // .logobox{
  //   position: absolute;
  //   top: 8%;
  //   left: 50%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   .logoimg {
  //   width: 65px;
  //   background-color: aqua;
  //   }
  //   .logotext{
  //     font-size: 1.2rem;
  //     font-weight: 450;
  //   }
  // }

  .logoimg {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    // z-index: 9999;
    width: 150px;
  }
  
  .appbar {
    margin-top: 10px !important;
  }
  #header {
    height: 100px;
    padding: 2rem 0;
    background-color: white;
  }
  .logoimgdrawer {
    width: 200px;
    margin: auto;
  }
}

@include md {
  #headernav {
    #header {
      height: 80px;
      .logoimg{
        top: 20px;
        width: 120px;
      }
    }
  }
}

// #navbar {
//   position: fixed;
// }

#footer {
  color: white;
  .footerRow {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .membercenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contactus {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  a {
    color: white;
  }
}

@include md {
  #footer {
    .footerRow {
      padding-top: 0px;
    }
    .contactus {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
