* {
  font-family: 'Noto Sans TC', sans-serif;
  list-style: none;
}

.container {
  max-width: 1200px;
}

.h1 {
  color: #1d5452;
  letter-spacing: 0.5rem;
}
// *::-webkit-scrollbar {
//   // background: #e1e1e1;
//   width: 16px;
// }
// *::-webkit-scrollbar-thumb {
//   // background: #4a4a4a;
//   border-radius: 6px;
// }

$content-text: #1d5452;
$cyancolor: #00acc1;
$lightblue: #e9ffff;
$grey: #4a4a4a;
$brown: #553b14;
$yellow: #ffc46c;
$pink: #d81b60;
$orange: #fb8c00;

// RWD
$breakpoint-xs:600px;
$breakpoint-sm:960px;
$breakpoint-md:1280px; 
$breakpoint-lg:1904px;

