#appointment {
  padding: 200px 0;
  .v-chip-group .v-slide-group__content {
    padding: 10px 0;
  }
  .item-title {
    p {
      font-weight: 300;
    }
  }
  .itemTitle {
    color: $content-text;
    font-weight: 500;
  }
}

.appointmentcard {
  position: relative;
  .price {
    position: absolute;
    top: 5%;
    right: 3%;
    font-size: 1.8rem;
    font-weight: 600;
    color: $content-text;
  }
}

#appointmentCheckout {
  padding: 200px 0;
  .checkout-btn {
    background-color: $yellow;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    color: white;
    font-weight: bolder;
    letter-spacing: 0.1rem;
  }
  .v-stepper__header {
    box-shadow: none;
  }
  .v-sheet {
    box-shadow: none;
  }
  h1 {
    color: $content-text;
  }
}
