#login {
  padding: 200px 0;
  h1 {
    margin-bottom: 30px;
    color: $content-text;
  }
  .box {
    width: 500px;
    margin: auto;
    background-color: $lightblue;
    padding: 100px 80px;
    border-radius: 30px;
  }
  .btn-wrap {
    width: 100%;
    text-align: center;
  }
}

#register {
  padding: 200px 0;
  h1 {
    margin-bottom: 30px;
    color: $content-text;
  }
  .box {
    width: 500px;
    margin: auto;
    background-color: $lightblue;
    padding: 100px 80px;
    border-radius: 30px;
  }
  .btn-wrap {
    width: 100%;
    text-align: center;
  }
}
