*{
  font-family: 'Noto Sans TC', sans-serif;
  list-style: none;
}

.container{
  max-width: 1200px;
}

.h1{
  color: #1D5452;
  letter-spacing: 0.5rem;
}

$content-text:#1D5452;
$cyancolor:#00ACC1;
$lightblue:#E9FFFF;
$grey:#4A4A4A;
$brown:#553B14;
$yellow:#FFC46C;

