// 商品卡片(components)
#productsCard {
  height: 450px;
  padding: 0 15px;
  .productName {
    color: $brown;
    height: 100px;
  }
  .productPrice {
    color: $pink;
    margin-top: -15px;
  }
  .go-btn {
    background-color: $content-text;
    width: 150px;
    letter-spacing: 0.5rem;
    font-size: 1.2rem;
  }
  .productimg {
    height: 50%;
    object-fit: cover;
  }
}

// 商品列表
#products {
  padding: 200px 0;
  .itemtitle {
    color: $content-text;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 20px;
    border: 2px solid $content-text;
    padding: 6px 30px;
    border-radius: 10px;
  }
  .item {
    color: $content-text;
    font-size: 1.1rem;
  }
  // .productcol {
  //   height: 400px;
  // }
}

// 商品內頁介紹
#productself {
  padding: 200px 0;
  .box {
    width: 400px;
    height: 400px;
    overflow: hidden;
    .productimg {
      width: 400px;
      border-radius: 10px;
      transition: 1s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .description {
    margin-bottom: 100px;
  }
  .productName {
    color: $content-text;
    font-size: 2rem;
    font-weight: bolder;
  }
  .productPrice {
    color: $pink;
    font-size: 2rem;
    font-weight: bolder;
  }
  .btn {
    background-color: $yellow;
    color: white;
  }
}

// 購物車
#cart {
  padding: 200px 0;
  .v-stepper__header {
    box-shadow: none;
  }
  .v-sheet {
    box-shadow: none;
  }
  .v-application .primary {
    background-color: $content-text !important;
  }
  .cart-btn {
    background-color: $yellow;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    color: white;
    font-weight: bolder;
    letter-spacing: 0.1rem;
  }

  h1,
  h2 {
    color: $content-text;
  }
}
